<div
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
	<a th:href="@{/shop}">Home</a>
	|
	<a th:href="@{/shop/list}">Product List</a>
	|
	<a th:href="@{/shop/cart}">My Cart</a>
	|
	<th:block sec:authorize="hasAnyRole('ROLE_MANAGER','ROLE_ADMIN')">
		<a th:href="@{/shop/orderList}">
		Order List
		</a>
		|
	</th:block>
	<th:block sec:authorize="hasRole('ROLE_ADMIN')">
		<a th:href="@{/shop/product/}">
		Create Product
		</a>
		|
	</th:block>

</div>