<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
	<title>Enter Customer Information Directory</title>
</head>

<body>
	<th:block th:include="/shop/_header"></th:block>
	<th:block th:include="/shop/_menu"></th:block>

	<h3 class="menu-directory">Enter Customer Information</h3>

	<hr>
	
	<form method="POST" th:object="${customerInfo}" th:action="@{/shop/saveCustomer}" class="form-directory">
		<div class="form-group">
			<label for="name">Name *</label>
			<input type="text" id="name" class="form-control" th:field="*{name}"/>
			<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span>
		</div>

		<div class="form-group">
			<label for="email">Email *</label>
			<input type="text" id="email" class="form-control" th:field="*{email}" />
			<span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">..</span>
		</div>

		<div class="form-group">
			<label for="phone">Phone *</label>
			<input type="text" id="phone" class="form-control" th:field="*{phone}" />
			<span th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">..</span>
		</div>

		<div class="form-group">
			<label for="address">Address *</label>
			<input type="text" id="address" class="form-control" th:field="*{address}" />
			<span th:if="${#fields.hasErrors('address')}" th:errors="*{address}">..</span>
		</div>

		<input type="submit" value="Submit" class="btn btn-success"/>
		<input type="reset" value="Reset" class="btn btn-danger" style="float: right;"/>

	
	</form>

</body>

</html>