<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
	<title>Cart Directory</title>
</head>
<body>


	<th:block th:include="/shop/_header"></th:block>
	<th:block th:include="/shop/_menu"></th:block>
	
	<div>
	
	<h3 class="menu-directory">Cart Directory</h3>
		<hr>

	<th:block th:if="${cartForm == null || cartForm.getCartLines() == null || cartForm.getCartLines().empty}" >
		<h4 class="menu-directory">There are no items in the cart</h4>
	</th:block>
	
	<th:block th:if="${cartForm != null && cartForm.getCartLines() != null && !cartForm.getCartLines().empty}">
		<form method="POST" th:object="${cartForm}" th:action="@{/shop/cart}" class="form-inline">
			<div th:each="cartLineInfo, varStatus : ${cartForm.getCartLines()}" style="margin-left: 30px;">
				<ul class="list-group" style="text-align: center;">
					<li class="list-group-item">
						Name: <span th:utext="${cartLineInfo.productInfo.name}"></span>
					</li>
					<li class="list-group-item"> 
						Price: <span th:utext="${#numbers.formatDecimal(cartLineInfo.productInfo.price,2,2,'COMMA') + ' $'}"></span>
					</li>
					<li class="list-group-item">
						Quantity:  <input
                            th:name="|cartLines[${varStatus.index}].quantity|"
                            th:value="${cartLineInfo.quantity}" class="form-control"/>
					</li>
					<li class="list-group-item">
						Subtotal: <span th:utext="${#numbers.formatDecimal(cartLineInfo.amount,2,2,'COMMA') + ' $'}"></span>
					</li>
					<li class="list-group-item">
						<a th:href="@{|/shop/cartRemoveProduct?code=${cartLineInfo.productInfo.code}|}" class="btn btn-danger">
						Delete
						</a>
					</li>
				</ul>
			</div>

			<div style="clear: both;"></div>

			<div class="table-directory" style="clear: both;
    vertical-align: bottom;
    width: 100%;
    height: 25px;
	margin-top: 30px;">
				<input type="submit" class="btn btn-primary button-directory" value="Update Quantity" />
				<a th:href="@{/shop/cartCustomer}" class="btn btn-primary button-directory">Enter Customer Info</a>
				<a th:href="@{/shop/list}" class="btn btn-primary button-directory">Continue shopping</a>
			</div>

		</form>
	</th:block>

	</div>
</body>


</html>