<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
	<title>Create Product Directory</title>
</head>
<body>

	<th:block th:include="/shop/_header"></th:block>
	<th:block th:include="/shop/_menu"></th:block>
	
	<h3 class="menu-directory">Create Product</h3>

	<hr>
	
	<form th:object="${productForm}" th:action="@{/shop/createProduct}" method="POST" class="form-directory">
		<div class="form-group">
			<label for="code">Code *</label>
			<input th:field="*{code}" class="form-control" type="text" id="code"/>
		</div>

		<div class="form-group">
			<label for="name">Name *</label>
			<input th:field="*{name}" class="form-control" type="text" id="name"/>
		</div>

		<div class="form-group">
			<label for="price">Price *</label>
			<input th:field="*{price}" class="form-control" type="text" id="price"/>
		</div>

		<input type="submit" class="btn btn-success" value="Submit"/>
		<input type="reset" class="btn btn-danger" value="Reset" style="float: right;" />


	</form>



</body>


</html>