<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	
	<title>Create Product Directory</title>
</head>
<body>

	<th:block th:include="/shop/_header"></th:block>
	<th:block th:include="/shop/_menu"></th:block>
	
	<div>Create Product</div>
	
	<form th:object="${productForm}" th:action="@{/shop/createProduct}" method="POST">
		<table>
			<tr>
				<td>Code *</td>
				<td>
					<input th:field="*{code}" type="text" />
				</td>
			
			</tr>
			<tr>
				<td>Name *</td>
				<td>
					<input th:field="*{name}" type="text" />
				</td>
			</tr>
			<tr>
				<td>Price *</td>
				<td>
					<input th:field="*{price}" type="text" />
				</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<input type="submit" value="Submit" />
					<input type="reset" value="Reset" />
				</td>
			</tr>
		
		</table>
	
	</form>


</body>


</html>