<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	
	<title>Account Info Directory</title>
</head>
<body>

	<th:block th:include="/shop/_header"></th:block>
	<th:block th:include="/shop/_menu"></th:block>
	
	<h3>Shopping Cart Pizza Demo</h3>
		
	<div>
		<h3>Welcome and Bon Appétit</h3>
	</div>

</body>


</html>