<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
	<title>Product Directory</title>
</head>

<body>

 <th:block th:include="/shop/_header"></th:block>
 <th:block th:include="/shop/_menu"></th:block>

<div>

	<h3>Product Directory</h3>
	<hr>
	
	
	<div sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">	
		<table>
			<thead>
				<tr>
					<th>Code</th>
					<th>Name</th>
					<th>Price</th>
					<th>Create Date</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tempProduct: ${products}">
				
					<td th:text="${tempProduct.code}" />
					<td th:text="${tempProduct.name}" />
					<td th:text="${tempProduct.price}" />
					<td th:text="${tempProduct.createDate}" />
					<td>				
						<div>
							<!-- Add "Buy" button/link -->
							<a th:href="@{/shop/buyProduct(productCode=${tempProduct.code})}">
								Buy
							</a>
						</div>		
					</td>
			
			</tbody>
		</table>
	</div>
	
	<div sec:authorize="!hasAnyRole('ROLE_MANAGER', 'ROLE_ADMIN')">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Price</th>
					<th>Action</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each="tempProduct: ${products}">
				
					<td th:text="${tempProduct.name}" />
					<td th:text="${tempProduct.price}" />
					<td>				
						<div>
							<!-- Add "Buy" button/link -->
							<a th:href="@{/shop/buyProduct(productCode=${tempProduct.code})}">
								Buy
							</a>
						</div>		
					</td>
			
			</tbody>
		</table>
	
	</div>
		
	

</div>

</body>


</html>