<!DOCTYPE html>
<html lang="en" 
		xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
	
	<title>Order Details Directory</title>
</head>

<body>
	<th:block th:include="/shop/_header"></th:block>
	<th:block th:include="/shop/_menu"></th:block>
	
	<h3 class="menu-directory">Order info</h3>
	<hr>
	<div>
		<h4 class="menu-directory">Customer Information:</h4>
		<div class="table-directory">
			<ul class="list-group">
				<li class="list-group-item">Name: <span th:utext="${orderInfo.customerName}"></span></li>
				<li class="list-group-item">Email: <span th:utext="${orderInfo.customerEmail}"></span></li>
				<li class="list-group-item">Phone: <span th:utext="${orderInfo.customerPhone}"></span></li>
				<li class="list-group-item">Address: <span th:utext="${orderInfo.customerAddress}"></span></li>
			</ul>
		</div>

		
		<h4 style="margin-top: 15px;" class="menu-directory">Order Summary</h4>
		<div class="table-directory">
			<ul class="list-group">
				<li class="list-group-item">Total:
					<span th:utext="${#numbers.formatDecimal(orderInfo.amount,2,2,'COMMA')}"></span>
				</li>
			</ul>
		</div>

	</div>
	<br>
	<div class="table-directory">
		<table border="1" class="table" style="margin-top: 15px">
			<tr>
				<th>Product Code</th>
				<th>Product Name</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Amount</th>
			</tr>
			<tr th:each="orderDetailLine : ${details}">
				<td th:utext="${orderDetailLine.getProduct().code}"></td>
				<td th:utext="${orderDetailLine.getProduct().name}"></td>
				<td th:utext="${orderDetailLine.getQuanity()}"></td>
				<td th:utext="${#numbers.formatDecimal(orderDetailLine.price,2,2,'COMMA') + ' $'}"></td>
				<td th:utext="${#numbers.formatDecimal(orderDetailLine.amount,2,2,'COMMA') + ' $'}"></td>
			</tr>
		</table>
	</div>

	<th:block th:include="/shop/_footer"></th:block>

</body>

</html>